<p id="notice"><%= notice %></p>

<h1>Item info</h1>

<p>
  <% if @item.draft? %>
    <b>draft</b>
  <% end %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Discription:</b>
  <%= @item.discription %>
</p>

<p>
  <b>added by:</b>
  <%= link_to @item.user.email, user_path %>
</p>

<p>
Tags: <%= raw @item.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<% if can? :update, @item %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'item list', items_path %>